<div class="modal-content fixed-top">
  <div class="modal-header center-title">
    <h3>Crear Usuario Administrativo</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="adminUserForm" (ngSubmit)="onSubmit()" class="form-horizontal user-form modal-body">
      <div class="form-group">
        <input type="email" placeholder="Correo" class="form-control input-create" maxlength="50" formControlName="adminEmail"
          [ngClass]="{ 'is-invalid': form.adminEmail.errors }" required>
        <div *ngIf="submitted && form.adminEmail.errors" class="invalid-feedback">
          <div *ngIf="form.adminEmail.errors.required">
            <label class="error-label">El campo correo es obligatorio</label>
          </div>
          <div *ngIf="form.adminEmail.errors.email">
            <label class="error-label">Debe ingresar un correo electrónico</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-create" placeholder="Contraseña" id="pwd" maxlength="50"
          formControlName="adminPassword" [ngClass]="{ 'is-invalid':form.adminPassword.errors }" required>
        <div *ngIf="submitted && form.adminPassword.errors" class="invalid-feedback">
          <div *ngIf="form.adminPassword.errors.required">
            <label class="error-label">El campo contraseña es obligatorio</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <select formControlName="shippingCompany" class="shipper-select">
          <option value="Gash">Gash</option>
          <option value="NYK">NYK</option>
          <option value="Evergreen">Evergreen</option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="submit">Agregar</button>
        <button class="btn btn-light" type="button" (click)="closeDialog()">Cancelar</button>
      </div>
    </form>
  </div>
</div>