<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Información de la Revisión</h3>
    </div>
    <div class="col-sm-6 buttonRevisionContainer">
      <button class="btn btn-report" ng-click="vm.printRevision()">Reporte</button>
    </div>
  </div>  
  <div class="row gash-container strict-text space-between">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-7 ">
          <label class="control-label">Usuario:</label>
        </div>
        <div class="col-sm-5">
          <span>{{vm.revision.user_ref}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 ">
          <label class="control-label">Naviera:</label>
        </div>
        <div class="col-sm-5 ">
          <span>{{vm.revision.shipping_co}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 ">
          <label class="control-label">Número de Contenedor:</label>
        </div>
        <div class="col-sm-5">
          <span>{{vm.revision.container_ref}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="control-label">Prefijo:</label>
        </div>
        <div class="col-sm-5">
          <span>{{vm.revision.prefix}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="control-label">Gen Set </label>
        </div>
        <div class="col-sm-5">
          <span ng-show="vm.getItem(vm.revision.gen_set)" class="glyphicon glyphicon-ok"></span>
          <span ng-show="!vm.getItem(vm.revision.gen_set)" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="control-label">Batería </label>
        </div>
        <div class="col-sm-5">
          <span ng-show="vm.getItem(vm.revision.battery)" class="glyphicon glyphicon-ok"></span>
          <span ng-show="!vm.getItem(vm.revision.battery)" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="control-label">Alternador </label>
        </div>
        <div class="col-sm-5">
          <span ng-show="vm.getItem(vm.revision.alternator)" class="glyphicon glyphicon-ok"></span>
          <span ng-show="!vm.getItem(vm.revision.alternator)" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="control-label">Arrancador </label>
        </div>
        <div class="col-sm-5">
          <span ng-show="vm.getItem(vm.revision.starter)" class="glyphicon glyphicon-ok"></span>
          <span ng-show="!vm.getItem(vm.revision.starter)" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 ">
          <label class="control-label">Bomba Eléctrica </label>
        </div>
        <div class="col-sm-5">
          <span ng-show="vm.getItem(vm.revision.electric_generator)" class="glyphicon glyphicon-ok"></span>
          <span ng-show="!vm.getItem(vm.revision.electric_generator)" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 ">
          <label class="control-label">Marchamo Batería </label>
        </div>
        <div class="col-sm-5">
          <span ng-show="vm.getItem(vm.revision.battery_seal)"  class="glyphicon glyphicon-ok"></span>
          <span ng-show="!vm.getItem(vm.revision.battery_seal)" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 ">
          <label class="control-label">Estado Llantas: </label>
        </div>
        <div class="col-sm-5">
          <span>{{vm.revision.tire_condition}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="control-label">Observaciones:</label>
        </div>
        <div class="col-sm-5">
          <span>{{vm.revision.remarks}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Fecha:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.timestamp | date: 'dd/M/y'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Hora:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.timestamp | date: 'hh:mm a'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Número de Guía:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.tracking_id}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Transportista:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.driver}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Origen:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.origin}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Destino:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.destination}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Número de Chasis:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.chassis_no}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Número de Cabezal:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.carrier_no}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Estado:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.container_status}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">Razón del Traslado:</label>
        </div>
        <div class="col-sm-7">
          <span>{{vm.revision.move_reason}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-8 labelRevisionShow">
          <label class="control-label">Marchamo Llantas: </label>
        </div>
      </div>
      <div class="row tireSealContainer">
        <div class="col-sm-12">
          <table class="table table-responsive tireSealContainer">
            <thead class="bold-table-title">
              <td>Marchamo 1</td>
              <td>Marchamo 2</td>
              <td>Marchamo 3</td>
            </thead>
            <tbody>
              <td>{{vm.revision.tire_seal_1}}</td>
              <td>{{vm.revision.tire_seal_2}}</td>
              <td>{{vm.revision.tire_seal_3}}</td>
            </tbody>
            <thead class="bold-table-title">
              <td>Marchamo 4</td>
              <td>Marchamo 5</td>
              <td>Marchamo 6</td>
            </thead>
            <tbody>
              <td>{{vm.revision.tire_seal_4}}</td>
              <td>{{vm.revision.tire_seal_5}}</td>
              <td>{{vm.revision.tire_seal_6}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-7 labelRevisionShow">
          <label class="control-label">Marchamo:</label>
        </div>  
      </div>
      <div class="row">
        <div class="col-sm-12 spanRevisionShow">
          <table class="table table-responsive tireSealContainer">
            <thead class="bold-table-title">
              <td>Marchamo 1</td>
              <td>Marchamo 2</td>
              <td>Marchamo 3</td>
            </thead>
            <tbody>
              <td>{{vm.revision.seal_no_1}}</td>
              <td>{{vm.revision.seal_no_2}}</td>
              <td>{{vm.revision.seal_no_3}}</td>
            </tbody>
            <thead class="bold-table-title">
              <td>Marchamo 4</td>
              <td>Marchamo 5</td>
              <td>Marchamo 6</td>
            </thead>
            <tbody>
              <td>{{vm.revision.seal_no_4}}</td>
              <td>{{vm.revision.seal_no_5}}</td>
              <td>{{vm.revision.seal_no_6}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 partsContainer">
      <table class="table table-striped">
        <thead>
        <tr>
          <th ng-click="vm.sortBy('name')">Parte
            <span class="sort-order" ng-if="vm.sort.property === 'name'" ng-class="{reverse: vm.sort.reverse}"></span>
          </th>
          <th ng-click="vm.sortBy('in')">Entrada
            <span class="sort-order" ng-if="vm.sort.property === 'in'" ng-class="{reverse: vm.sort.reverse}"></span>
          </th>
          <th ng-click="vm.sortBy('out')">Salida
            <span class="sort-order" ng-if="vm.sort.property === 'out'" ng-class="{reverse: vm.sort.reverse}"></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="part in vm.parts | orderBy:vm.sort.property:vm.sort.reverse | filter:vm.searchText">
          <td>{{part.name}}</td>
          <td>
            <span ng-show="{{part.in}}" class="glyphicon glyphicon-ok"></span>
            <span ng-show="!{{part.in}}" class="glyphicon glyphicon-remove"></span>
          </td>
          <td>
            <span ng-show="{{part.out}}" class="glyphicon glyphicon-ok"></span>
            <span ng-show="!{{part.out}}" class="glyphicon glyphicon-remove"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 buttonRevisionContainer">
      <button class="btn btn-see-damage" ng-click="vm.goToGashDamage()">Ver Daños</button>
    </div>
  </div>
</div>
