@grayLight: #454442;
@grayDark: #151515;
@navBarColor: #222;

.navbar-inverse {
  background: black;
}

.navbar-options {
  a{
    font-family: inherit;
    color: white !important;
    font-size: 16px;
    span {
      height: 1.5em;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }
}

.dropdown-menu {
  padding: 0 !important;
  li {
    a {
      height: 2em;
      font-size: 15px;
      color: @grayDark !important;
      &:hover {
        background: #D8D8D8 !important;
      }
    }
    @media (max-width: 768px) {
      background: white !important;
    }
  }
}

.navbar-brand {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.gashLogo {
  height: 2em;
  width: auto;
  margin-right: 3em;
}

.cursor {
  cursor: pointer;
}

.navbtn-style {
  background: @navBarColor;
  border-radius: 0px;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  height: 5em;
  width: 10em;
  &:focus {
    color: white !important;
    font-weight: bold;
    background: @grayLight;
  }
  &:hover {
    color: white !important;
    font-weight: bold;
  }
}

.btnActive {
  color: white;
}

.navbar {
  @media (max-width: 768px) {
    min-height: 220px !important;
  }
}
