<nav class="navbar navbar-inverse"></nav><!-- Avoid padding top on main content -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand cursor" ui-sref="home.users"><img class="gashLogo" src="app/images/gash-white.png" alt="Gash" ui-sref="home.listRevisions"></a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <button class="btn navbtn-style btn-md btnActive" ui-sref="home.listRevisions">Revisiones</button>
      </li>
      <li>
        <button class="btn navbtn-style btn-md btnActive" ui-sref="home.users">Usuarios</button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown navbar-options">
        <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Admin</a>
          <ul class="dropdown-menu">
            <li><a class="cursor" ng-click="vm.logOut()">Cerrar Sesión</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
