<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Contenedor <a class="revision-url" ui-sref="home.showGashRevision({ revisionId: vm.revision.$id})">{{vm.revision.container_ref}}</a></h2>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-8 damageImageContainer">
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="chassis_front" data-imgSrc="app/images/gash/chassis_front.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.chassis_front}}</h5>
            <img class="imgLittle" src="app/images/gash/chassis_front.png">
          </button>
        </div>
        <div class="col-sm-8">
          <button class="btn damageButton btnBig" id="chassis_up" data-imgSrc="app/images/gash/chassis_up.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.chassis_up}}</h5>
            <img class="imgBig" src="app/images/buttonImages/chassis_up.png">
          </button>
        </div>
      </div>
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="chassis_back" data-imgSrc="app/images/gash/chassis_back.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.chassis_back}}</h5>
            <img class="imgLittle" src="app/images/gash/chassis_back.png">
          </button>
        </div>
        <div class="col-sm-8">
          <button class="btn damageButton btnBig" id="chassis_side" data-imgSrc="app/images/gash/chassis_side.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.chassis_side}}</h5>
            <img class="imgBig" src="app/images/buttonImages/chassis_side.png">
          </button>
        </div>
      </div>
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="left" data-imgSrc="app/images/gash/left.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.left}}</h5>
            <img class="imgLittle" src="app/images/gash/left.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="right" data-imgSrc="app/images/gash/right.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.right}}</h5>
            <img class="imgLittle" src="app/images/gash/right.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="inside" data-imgSrc="app/images/gash/inside.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.inside}}</h5>
            <img class="imgLittle" src="app/images/gash/inside.png">
          </button>
        </div>
      </div>
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="front" data-imgSrc="app/images/gash/front.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.front}}</h5>
            <img class="imgLittle" src="app/images/gash/front.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="back" data-imgSrc="app/images/gash/back.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.back}}</h5>
            <img class="imgLittle" src="app/images/gash/back.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="roof" data-imgSrc="app/images/gash/roof.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.roof}}</h5>
            <img class="imgLittle" src="app/images/gash/roof.png">
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 panelRow">
      <div class="row title-damages">
        <h4>{{vm.title}}</h4>
      </div>
      <div class="row canvasContainer">
        <canvas id="canvas" ng-if="vm.imageSrc"></canvas>
      </div>
      <div class="row">
        <div class="panel no-margin-bottom">
          <div class="panel-heading">Daños</div>
          <div class="panel-body">
            <div class="row damageItem" ng-repeat="damage in vm.damages">
              <div class="col-sm-6 damageName">
                <p>{{damage.name}}</p>
              </div>
              <div ng-show="vm.imageExist(damage.img_ref)" class="col-sm-6">
                <span class="glyphicon glyphicon-camera" ng-click="vm.displayImageDamage(damage.img_ref)" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
