@import "../../assets/styles/search-bar-style.less";
@import "../../assets//styles/table-style.less";

.btn-user {
  border-radius: 1.5em !important;
  text-align: center;
  padding: 8px 9px 19px 9px;
  height: 2.5em;
  margin-top: 10px;
  
  @media (max-width: 768px) {
    margin-bottom: 2em !important;
    margin-right: 2em !important;
    float: right;
  }
}

.head-container {
  margin-top: 2em;
  margin-bottom: 1em;
  float: right !important;
  padding: 0 !important;
}