<div>
  <app-nav></app-nav>
</div>
<div class="container"></div>
<div class="table-container">
  <div class="padding-bottom head-container">
    <div class="col-xs-12 col-sm-2 button-container">
      <button type="button" class="btn btn-primary btn-user" (click)="showCreateUserModal('user')">Crear
        Usuario</button>
    </div>
    <div class="col-xs-12 col-sm-2 button-container">
      <button type="button" class="btn btn-danger btn-user" (click)="showCreateUserModal('admin')">Crear
        Usuario Administrativo</button>
    </div>
    <div class="col-xs-12 col-sm-2 inner-addon left-addon search-bar-container">
      <i class="glyphicon glyphicon-search"></i>
      <input matInput (keyup)="applyFilter($event.target.value)" type="text" class="form-control" placeholder="Buscar Usuario">
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-hover">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="t-head"> Usuario </th>
      <td mat-cell *matCellDef="let user" (click)=showUserPreviewModal(user);> {{user.username}} </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="t-head"> Nombre </th>
      <td mat-cell *matCellDef="let user" (click)=showUserPreviewModal(user);> {{user.name}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>