<div class="modal-content">
  <div class="modal-header center-title">
    <h3>Información del Usuario</h3>
  </div>
  <div class="center-div">
    <div class="center-div">
      <div class="label-container">
        <label class="important-label">Usuario: </label>
        <span *ngIf="user && user.username">{{user.username}}</span>
      </div>
      <div class="label-container">
        <label class="important-label">Nombre: </label>
        <span *ngIf="user && user.name">{{user.name}}</span>
      </div>
      <div class="label-container" *ngIf="user && user.isAdmin">
        <label class="important-label">Naviera: </label>
        <span *ngIf="user && user.shippingCompany">{{user.shippingCompany}}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-11">
      <button type="button" class="btn btn-danger" (click)="showDeleteUserConfirmModal(user)">Eliminar</button>
      <button type="button" class="btn btn-primary" (click)="showEditUserModal(user)">Editar</button>
      <button type="button" class="btn btn-light" (click)="closeDialog()">Cancelar</button>
    </div>
  </div>
</div>