<div class="modal-content">
  <div class="modal-header center-title">
    <h3 class="modal-title">Eliminar Usuario</h3>
  </div>
  <div class="modal-body center-title">
    <span class="span-style">¿Está seguro que desea eliminar este usuario?</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="deleteUser()">Eliminar</button>
    <button class="btn btn-light" type="button" (click)="closeDialog()">Cancelar</button>
  </div>
</div>