<div class="modal-content fixed-top">
  <div class="modal-header center-title">
    <h3>Crear Usuario</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal user-form modal-body" (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-group">
        <input type="text" placeholder="Usuario" no-special-char class="form-control input-create" maxlength="50"
          formControlName="username" [ngClass]="{ 'is-invalid': submitted && form.username.errors }" required>
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
          <div *ngIf="form.username.errors.required"><label class="error-label">El campo Usuario es obligatorio</label></div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nombre" no-special-char class="form-control input-create" maxlength="50"
          formControlName="name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" required>
        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
          <div *ngIf="form.name.errors.required"><label class="error-label">El campo Nombre es obligatorio</label></div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-create" placeholder="Contraseña" id="pwd" maxlength="50"
          formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" [ngClass]="{ 'is-invalid': submitted && form.username.errors }">
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required"><label class="error-label">El campo Contraseña es obligatorio</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="submit">Agregar</button>
        <button class="btn btn-light" type="button" (click)="closeDialog()">Cancelar</button>
      </div>
    </form>
  </div>
</div>