<div class="modal-content fixed-top">
  <div class="modal-header center-title">
    <h3>Editar Usuario</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" class="form-horizontal user-form modal-body">
      <div class="form-group">
        <input type="text" placeholder="Usuario" class="form-control input-create" maxlength="50" formControlName="username"
          [ngClass]="{ 'is-invalid': form.username.errors }" required>
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
          <div *ngIf="form.username.errors.required"><label class="error-label">El campo Usuario es obligatorio</label>
          </div>
        </div>
      </div>
      <div *ngIf="!this.user.isAdmin" class="form-group">
        <input type="text" class="form-control input-create" placeholder="Nombre" maxlength="50" formControlName="name"
          [ngClass]="{ 'is-invalid':form.name.errors }" required>
        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
          <div *ngIf="form.name.errors.required"><label class="error-label">El campo Nombre es obligatorio</label></div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-create" placeholder="Contraseña" maxlength="50"
          formControlName="password">
      </div>
      <div class="modal-footer">
        <div class="col-md-11">
          <button class="btn btn-danger" type="submit">Guardar</button>
          <button class="btn" type="button" (click)="closeDialog(false)">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>