@whiteBackground: #F8F4F3;

.userCreateContainer {
  max-width: 40em;
  height: 20em;
  margin-top: 10em;
  background-color: @whiteBackground;
  border-radius: 2em ;
  border-style: solid;
  border-color: @whiteBackground;
  text-align: center;
}

.button-div {
  width: 40em;
  display: inline;
  padding: 0 !important;
}

.button-accept {
  width: 15.8em;
  border-radius: 0 !important;
  background: #306c90;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #0B173B;
  }
}

.button-cancel {
  width: 15.8em;
  border-radius: 0 !important;
  background: #df0101;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #C11B17;
  }
}

.userForm {
  width: 30em;
  margin-left: 3.5em;
}

.inputCreate {
  border-radius: 0 !important;
  box-shadow: none !important;
}
