<div class="modal-content">
  <div class="modal-header center-text">
    <h3>Crear Usuario</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal userForm" name="userForm" >
      <div class="form-group">
        <input type="text" placeholder="Usuario" no-special-char class="form-control inputCreate" maxlength="50" ng-model="vm.user.username" id="user" required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nombre" no-special-char class="form-control inputCreate" maxlength="50" id="userName" ng-model="vm.user.name" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control inputCreate" placeholder="Contraseña" id="pwd" maxlength="50" ng-model="vm.user.password" required>
      </div>
    </form>
  </div> 
  <div class="modal-footer">
    <div class="col-md-11">
      <button class="btn button-accept" ng-click="vm.confirmUser()"  ng-disabled="userForm.$invalid">Agregar</button>
      <button class="btn button-cancel" ng-click="vm.redirectToUsersList()">Cancelar</button>
    </div>
  </div>
</div>
