<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container-fluid login-form">
    <div class="logo-container">
      <img src="../../assets/gash-white.png">
    </div>
    <div class="form-group">
      <input type="email" placeholder="Correo" formControlName="username" class="form-control login-input" [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
      <div *ngIf="submitted && form.username.errors" class="error-label">
        <div *ngIf="form.username.errors.required">El campo correo es obligatorio</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Contraseña" formControlName="password" class="form-control login-input"
        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
      <div *ngIf="submitted && form.password.errors" class="error-label">
        <div *ngIf="form.password.errors.required">El campo contraseña es obligatorio</div>
      </div>
    </div>
    <div class="group-form">
      <button [disabled]="loading" class="btn btn-authenticate">Iniciar Sesión</button>
    </div>
  </form>
</div>