<div class="modal-body modalImageDamage">
  <div class="modal-header">
    <h3 class="modal-title modalImageDamageTittle">Imagen del Daño</h3>
  </div>
  <div class="modal-body">
    <img ng-src="{{vm.srcImage}}" class="imageDamage img-responsive">
  </div>
  <div class="modal-footer">
    <div class="modalButton-imageDamage">
      <button class="btn btn-modalImageDamageCancel" type="button" ng-click="vm.cancel()">Ok</button>
    </div>
  </div>
</div>
