.modalImageDamage {
  height: auto;
  width: auto;
  background-color: #F8F4F3;
  border-radius: 0.3em !important;
}

.imageDamage {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}


.btn-modalImageDamageCancel {
  background: #444444;
  width: 10em;
  color: white;
  border-radius: 0 !important;
  &:hover {
    color: white !important;
    font-weight: bolder;
  }
}

.modalImageDamageTittle {
  text-align: left;
}
