@red: #df0101; 
@whiteBackground: #F8F4F3;

.center-title {
  text-align: center;
}

.user-form {
  width: 30em;
  margin-left: 3.5em;
}

.input-create {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.modal-content {
  width:inherit;
  height:inherit;
  margin: 0 auto;
}

.modal-body{
  margin: 0 auto;
}

.error-label{
  font-size: 10px;
  color: @red !important;
}

.modal-footer {
  text-align: center;
  margin: 0 auto;
}

.important-label {
  font-weight: bold;
  padding-right: 10px;
}

.center-div {
  width: 50%;
  margin: 0 auto;
}

.shipper-select {
  background-color: white;
  height: 4vh;
  width: 100%;
  outline:none;
}