@gray-light: #454442;
@gray-dark: #151515;
@nav-bar-color: #222;
@hover-background: #D8D8D8;

.navbar {
  height: 5em;
  border-radius: 0px;

  @media (max-width: 768px) {
    min-height: 220px !important;
  }
}

.navbar-inverse {
  background: @nav-bar-color;
}

.navbar-options {
  a {
    font-family: inherit;
    color: white !important;
    font-size: 16px;
    
    .icon {
      padding-top: 20px; 
      height: 1.5em;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }
  }
}

.dropdown-menu {
  padding: 0 !important;
  margin-top: 1px !important;

  li {
    a {
      height: 2em;
      font-size: 15px;
      color: @gray-dark !important;

      &:hover {
        background: @hover-background !important;
      }
    }

    @media (max-width: 768px) {
      background: white !important;
    }
  }
}

.navbar-brand {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.gash-logo {
  height: 2em;
  width: auto;
  margin-right: 3em;
  font-size: 18px;
}

.cursor {
  cursor: pointer;
}

.navbar-button {
  background: @nav-bar-color;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  height: 4.9em;
  width: 10em;
  font-size: 14px;

  &:focus {
    color: white !important;
    font-weight: bold;
    background: @gray-light;
  }

  &:hover {
    color: white !important;
    font-weight: bold;
  }
}

.btn-active {
  color: white;
}

.nv-right {
  position: absolute;
  right: 0px;
}

.element-padding {
  padding: 23px;
}