<nav class="navbar navbar-inverse fixed-top">
  <div class="navbar-header">
    <div class="navbar-brand">
      <img class="gash-logo" alt="Gash" src="../../assets/gash-white.png" (click)="goToRevisions()">
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li>
      <button class="btn navbar-button btn-large btn-active" (click)="goToRevisions()">Revisiones</button>
    </li>
    <li *ngIf="shippName === 'Gash'">
      <button class="btn navbar-button btn-large btn-active" (click)="goToUsers()">Usuarios</button>
    </li>
  </ul>
  <div>
    <ul class="nav navbar-nav nv-right">
      <li class="dropdown navbar-options">
        <a class="element-padding" href="#" data-toggle="dropdown">
          <fa class="icon" name="user" size="lg"></fa>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a class="cursor" (click)="logOut()">Cerrar Sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
