<div class="login-container">
  <form class="container-fluid loginForm" name="loginForm">
    <div class="logo-container">
      <img src="app/images/gash-white.png">
    </div>
    <div class="form-group">
      <input type="email" class="form-control loginInput" placeholder="Correo" ng-model= "vm.user.email" name="email" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control loginInput" placeholder="Contraseña" ng-model="vm.user.password" required>
    </div>
    <div class="groupForm">
      <button class="btn btn-authenticate" ng-disabled="loginForm.$error.required" ng-click="vm.authenticateUser()">Iniciar Sesión</button>
    </div>
  </form>
</div>
