<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Contenedor <a class="revision-url" ui-sref="home.showNykRevision({ revisionId: vm.revision.$id})">{{vm.revision.container_ref}}</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 damageImageContainer">
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="left" data-imgSrc="app/images/nyk/left.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.left}}</h5>
            <img class="imgLittle" src="app/images/nyk/left.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="right" data-imgSrc="app/images/nyk/right.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.right}}</h5>
            <img class="imgLittle" src="app/images/nyk/right.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="inside" data-imgSrc="app/images/nyk/inside.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.inside}}</h5>
            <img class="imgLittle" src="app/images/nyk/inside.png">
          </button>
        </div>
      </div>
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="front" data-imgSrc="app/images/nyk/front.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.front}}</h5>
            <img class="imgLittle" src="app/images/nyk/front.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="back" data-imgSrc="app/images/nyk/back.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.back}}</h5>
            <img class="imgLittle" src="app/images/nyk/back.png">
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="roof" data-imgSrc="app/images/nyk/roof.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.roof}}</h5>
            <img class="imgLittle" src="app/images/nyk/roof.png">
          </button>
        </div>
      </div>
      <div class="row damageRow">
        <div class="col-sm-4">
          <button class="btn damageButton btnLittle" id="floor" data-imgSrc="app/images/nyk/floor.png" ng-click="vm.displayDamages($event)">
            <h5>{{vm.parts.floor}}</h5>
            <img class="imgLittle" src="app/images/nyk/floor.png">
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 panelRow">
      <div class="row title-damages">
        <h4>{{vm.title}}</h4>
      </div>
      <div class="row">
        <div class="col-md-4 canvasContainer">
          <canvas id="canvas" ng-if="vm.imageSrc"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="panel no-margin-bottom">
          <div class="panel-heading">Daños</div>
          <div class="panel-body">
            <div class="row damageItem" ng-repeat="damage in vm.damages">
              <div class="col-sm-6 damageName">
                <p>{{damage.name}}</p>
              </div>
              <div ng-show="vm.imageExist(damage.img_ref)" class="col-sm-6">
                <span class="glyphicon glyphicon-camera" ng-click="vm.displayImageDamage(damage.img_ref)" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
