<div class="container">
  <div class="row" ng-if="vm.loading">
    <h5>Cargando Lista de Revisiones...</h5>
    <div class="progress progress-striped active page-progress-bar">
      <div class="progress-bar" style="width: 100%;"></div>
    </div>
  </div>
  <div class="row" ng-if="!vm.loading">
    <div class="col-sm-4 padding-bottom headContainer" ng-if="!vm.loading && vm.revisions.length">
      <div class="col-sm-2 inner-addon left-addon searchBarContainer">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" placeholder="Buscar" ng-model="vm.searchText">
      </div>
    </div>
    <table class="table table-striped table-hover strict-text" ng-if="!vm.loading && vm.revisions.length">
      <thead>
        <tr>
          <td ng-click="vm.sortBy('container_ref')">Número de Contenedor
            <span class="sort-order" ng-if="vm.sort.property === 'container_ref'" ng-class="{reverse: vm.sort.reverse}"></span>
          </td>
          <td ng-click="vm.sortBy('chassis_no')">Número de Chasis
            <span class="sort-order" ng-if="vm.sort.property === 'chassis_no'" ng-class="{reverse: vm.sort.reverse}"></span>
          </td>
          <td ng-click="vm.sortBy('carrier_no')">Número de Cabezal
            <span class="sort-order" ng-if="vm.sort.property === 'carrier_no'" ng-class="{reverse: vm.sort.reverse}"></span>
          </td>
          <td ng-click="vm.sortBy('timestamp')">Fecha
            <span class="sort-order" ng-if="vm.sort.property === 'timestamp'" ng-class="{reverse: vm.sort.reverse}"></span>
          </td>
        </tr>
      </thead>
      <tbody>
      <tr dir-paginate="revision in vm.revisions | orderBy:vm.sort.property:vm.sort.reverse | filter:vm.searchText | itemsPerPage: 10" ng-click="vm.getRevision(revision)">
        <td>{{revision.container_ref}}</td>
        <td>{{revision.chassis_no}}</td>
        <td>{{revision.carrier_no}}</td>
        <td>{{revision.timestamp | date:'medium'}}</td>
      </tr>
      </tbody>
    </table>
    <dir-pagination-controls
      max-size="5"
      template-url="app/components/layout/pagination/pagination.tpl.html"
      class="text-center"
      direction-links="true"
      boundary-links="true" >
    </dir-pagination-controls>
    <div class="text-center" ng-if="!vm.loading && !vm.revisions.length">
      <h3>No hay revisiones registradas</h3>
    </div>
  </div>
</div>
