<div class="modal-content">
  <div class="modal-header center-text">
    <h3>Editar Usuario</h3>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">Usuario:</label>
        <div class="col-sm-10">
          <input class="form-control inputEdit" type="text" value="{{vm.user.username}}" no-special-char name="userUser" ng-model="vm.user.username" maxlength="50" required>
          <div ng-show="vm.userExists" role="alert">
            <span class="userExists">El nombre de usuario ya existe</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Nombre:</label>
        <div class="col-sm-10">
          <input class="form-control inputEdit" type="text" value="{{vm.user.name}}" no-special-char name="userName" ng-model="vm.user.name" maxlength="50" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Contraseña:</label>
        <div class="col-sm-10">
          <input class="form-control inputEdit" type="password" value="{{vm.user.password}}" no-special-char name="password" ng-model="vm.user.password" maxlength="50" required>
        </div>
      </div>
    </div>
  </div> 
  <div class="modal-footer">
    <div class="col-md-11">
      <button class="btn btn-saveUser" ng-click="vm.confirmUser()"  ng-disabled="editUserForm.$error.email || editUserForm.$error.required">Guardar</button>
      <button class="btn btn-cancelUser" ng-click="vm.showUser()">Cancelar</button>
    </div>
  </div>
</div>
