@whiteBackground: #F8F4F3;

.userEditContainer {
  max-width: 40em;
  height: 20em;
  margin-top: 10em;
  background-color: @whiteBackground;
  border-radius: 2em ;
  border-style: solid;
  border-color: @whiteBackground;
  text-align: center;
}

.button-editContainer {
  width: 40em;
  display: inline;
}

.btn-saveUser {
  width: 15em !important;
  border-radius: 0 !important;
  margin-top: 2em !important;
  background: #df0101;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #C11B17;
  }
}

.btn-cancelUser {
  width: 15em;
  border-radius: 0 !important;
  margin-top: 2em !important;
  background: #444444;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #786D5F;
  }
}

.editFormContainer {
  width: 30em;
  margin-left: 3.5em;
}

.inputEdit {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.userExists {
  float: left;
}
