<div class="modal-content">
  <div class="modal-header center-text">
    <h3 class="modal-title">Eliminar Usuario</h3>
  </div>
  <div class="modal-body center-text">
    <span>¿Está seguro que desea eliminar este usuario?</span>
  </div>
  <div class="modal-footer">
    <div class="col-md-9">
      <button class="btn btn-modal-delete" type="button" ng-click="vm.deleteUser()">Eliminar</button>
      <button class="btn btn-modal-cancel" type="button" ng-click="vm.cancel()">Cancelar</button>
    </div>
  </div>
</div>
