@gash-red: #B3131B !important;
@panel-color: #CCC6C6 !important;
@damage-color: #E6E7E9;
@damage-border: #585858;
@damaged-container: #ccc;

.grid-container {
  text-align: center;
  margin-top: 3em;
}

.damage-title {
  text-align: center;
}

.panel-row {
  margin-top: 3em;
  background-color: white;
}

.damage-row {
  padding: 0.5em;
  margin: 0 !important;
}

.panel-heading {
  background: @gash-red;
  color: white !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0 !important;
}

.panel-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: @panel-color;
  text-align: center;
  overflow-y: auto;
}

.damage-button {
  background-color: @damage-color;
  border-radius: 0 !important;
  width: 20em;
  height: 12em;
  margin: 5px;

  &:hover {
    background-color: @panel-color;
  }

  &:focus {
    background-color: @panel-color;
  }
}

.damage-item {
  height: 3em;
  padding: 1em;
  text-align: right;
  border-bottom: solid 1px @damage-border ;
}

.damage-image {
  height: 80%;
  width: 60%;
  pointer-events: none;
}

.damage-canvas {
  height: 370;
  width: 370;
  margin-left: 10px;
}

.damage-name {
  text-align: left;
}

.damaged-container {
  background: white;
  position: relative;
}

.damaged-container::before,.damaged-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.damaged-container::before {
  border-width: 1.5em;
  border-right-color: @damaged-container;
  border-top-color: @damaged-container;
}

.damaged-container::after {
  border-width: 1.5em;
  border-right-color: @gash-red;
  border-top-color:@gash-red;
}

.modal-body {
  justify-content: center;
  display: grid;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.close-image {
  width: 50%;
  background-color: @gash-red;
  color: white;
}