<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 (click)="goToRevision()">Contenedor {{revision.containerCode}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 grid-container">
      <mat-grid-list cols="3" rowHeight="3:2.1" class="row damage-row">
        <div *ngFor="let part of parts">
          <mat-grid-tile id="part.id">
            <button id="{{part.id}}" class="btn damage-button" (click)="displayDamages(part)">
              <h5>{{part.name}}</h5>
              <img class="damage-image" src="{{'../../../assets/images/damages/' + part.id +'.png'}}">
            </button>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
    <div class="col-lg-4 panel-row" flex *ngIf="this.revision.damages != null && this.revision !== []">
      <div class="row damage-title">
        <h4>{{damageLabel}}</h4>
      </div>
      <div class="row">
        <canvas class="damage-canvas" #imageCanvas flex></canvas>
      </div>
      <div class="row">
        <div class="panel no-margin-bottom">
          <div class="panel-heading">Daños</div>
          <div class="panel-body">
            <div class="row damage-item" *ngFor="let damage of currentDamages">
              <div class="col-sm-6 damage-name">
                <p>{{damage.damage.name}}</p>
              </div>
              <div class="col-sm-6" *ngIf="damage.damage.image_ref">
                <span class="glyphicon glyphicon-camera" [hidden]="true" data-toggle="modal" data-target=".display-damage-image"
                  data-backdrop="static" data-keyboard="false" (click)="setImage_ref(damage.damage.image_ref)"></span>
              </div>
            </div>
            <div class="modal display-damage-image">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title modalImageDamageTittle">
                      Imagen del daño
                    </h3>
                  </div>
                  <div class="modal-body">
                    <img src="{{image_ref}}" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light close-image" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>