@import "../../../assets/styles/search-bar-style.less";
@import "../../../assets/styles/table-style.less";

.mat-paginator-revisions {
  float: left;
}

.button-container {
  float: right;
  margin: 10px 0px 0px 0px;
}

.btn-user {
  border-radius: 1.5em;
}

.btn-primary {
  margin-right: 10px;
}

.btn-secondary {
  margin-left: 10px;
  border: 1px solid #2e6da4;
}