<div>
  <app-nav></app-nav>
  <div class="container"></div>
  <div class="table-container">
    <div class="padding-bottom head-container">
      <div class="col-xs-12 col-sm-2 button-container">
        <button type=" button" class="btn btn-primary btn-user mr-1" (click)="search(searchCondition)">Buscar</button>
        <button type=" button" class="btn btn-secondary btn-user ml-1" (click)="clear()">Limpiar</button>
      </div>
      <div class="col-xs-12 col-sm-1 inner-addon left-addon search-bar-container">
        <i class="glyphicon glyphicon-search"></i>
        <input matInput [(ngModel)]=" searchCondition" placeholder="Buscar Revisión" class="form-control">
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="table table-striped table-hover">
      <ng-container matColumnDef="container">
        <th mat-header-cell *matHeaderCellDef class="t-head"> Número de Contenedor </th>
        <td mat-cell *matCellDef="let revision" (click)="viewRevision(revision)"> {{revision.containerCode}} </td>
      </ng-container>
      <ng-container matColumnDef="chassis">
        <th mat-header-cell *matHeaderCellDef class="t-head"> Número de Chasis </th>
        <td mat-cell *matCellDef="let revision" (click)="viewRevision(revision)"> {{revision.chassis}} </td>
      </ng-container>
      <ng-container matColumnDef="truck">
        <th mat-header-cell *matHeaderCellDef class="t-head"> Número de Cabezal </th>
        <td mat-cell *matCellDef="let revision" (click)="viewRevision(revision)"> {{revision.truck}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="t-head"> Fecha </th>
        <td mat-cell *matCellDef="let revision" (click)="viewRevision(revision)">
          {{revision.createdAt | date:'d/M/y, h:mm:ss a'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [length]=length showFirstLastButtons
      (page)="onPaginateChange($event, searchCondition);">
    </mat-paginator>
  </div>
</div>
