@red: #df0101; 
@whiteBackground: #F8F4F3;

.userContainer {
  max-width: 40em;
  height: 16em;
  margin-top: 10em;
  background-color: @whiteBackground;
  border-radius: 2em ;
  border-style: solid;
  border-color: @whiteBackground;
  text-align: center;
}

.btn-delete {
  width: 9em;
  border-radius: 0 !important;
  background: @red;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #C11B17;
  }
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: #fff !important;
} 

.btn-edit {
  width: 9em;
  border-radius: 0 !important;
  background: #444444;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
}

.btn-cancelar {
  width: 9em;
  border-radius: 0 !important;
  background: #444444;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #786D5F;
  }
}

.center-text {
  text-align: center;
}

.button-container {
  width: 40em;
  display: inline;
}

.textFields {
  width: 30em;
  margin-left: 3.5em;
  text-align: left;
}

.spanShow {
  margin-left: 1em;
}

.spanShowEmail {
  margin-left: 1.5em; 
}