<div class="modal-content">
  <div class="modal-header center-text">
    <h3>Información del Usuario</h3>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="row col-md-6 col-md-offset-3">
            <label class="control-label">Usuario:</label>
            <span class="spanShow">{{vm.user.username}}</span>
          </div>
          <div class="row col-md-6 col-md-offset-3">
            <label class="control-label">Nombre:</label>
            <span class="spanShow">{{vm.user.name}}</span>
          </div>
        </div>
      <div>
    </div>
    <div class="modal-footer">
      <div class="col-md-11">
        <button type="button" class="btn btn-modal-delete" ng-click="vm.deleteUser()">Eliminar</button>
        <button type="button" class="btn btn-edit" ng-click="vm.editUser()">Editar</button>
        <button type="button" class="btn btn-modal-cancel" ng-click="vm.cancelUser()">Cancelar</button>
      </div>
    </div>
  </div>  
</div>
