<div class="modal-content">
  <div class="modal-body">
    <h3 class="modal-title">Crear Usuario</h3>
    <span>¿Está seguro que desea crear este usuario?</span>
  </div>  
  <div class="modal-footer">
    <div class="col-md-11">
      <button class="btn btn-modal-add" type="button" ng-click="vm.createUser()">Aceptar</button>
      <button class="btn btn-modal-cancel-confirm" type="button" ng-click="vm.cancel()">Cancelar</button>
    </div>
  </div>
</div>

