.modalConfirm {
  height: 15em;
  background-color: #F8F4F3;
  border-radius: 2em;
}

.modalButtons-confirm {
  margin-top: 2em;
  width: 17em;
  float: right;
}

.btn-modal-add {
  background: #306c90;
  width: 8em;
  color: white;
  border-radius: 0 !important;
  &:hover {
    color: white !important;
    font-weight: bolder;
  }
}

.btn-modal-cancel-confirm {
  background: #E41B17;
  width: 8em;
  color: white;
  border-radius: 0 !important;
  &:hover {
    color: white !important;
    font-weight: bolder;
  }
}
