<div class="modal-header">
  <h3 class="modal-title">Imprimir PDF</h3>
</div>
<div class="modal-footer text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn button-accept" ng-click="vm.generatePDF(vm.revision)">Generar</button>
                <button class="btn button-cancel" ng-click="vm.cancel()"> Cancelar </button>
            </div>
        </div>
    </div>
</div>
