.button-accept {
  width: 8em;
  border-radius: 0 !important;
  background: #306c90;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #0B173B;
  }
}

.button-cancel {
  width: 8em;
  border-radius: 0 !important;
  background: #df0101;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
  &:focus {
    color:white !important;
    font-weight: bolder;
    background: #C11B17;
  }
}
