.title-damages {
  text-align: center;
}

.damageImageContainer {
  text-align: center;
  margin-top: 3em;
}

.panelRow {
  margin-top: 3em;
  background-color: #FFFFFF;
}

.damageRow {
  padding: 0.5em;
  margin: 0 !important;
}

.panel-heading {
  background: #B3131B !important;
  color: white !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0 !important;
}

.panel-body {
  padding-top: 0 !important;
  background: #CCC6C6 !important;
  height: 30em;
  text-align: center;
  overflow-y: auto;
}

.damageButton {
  background-color: #E6E7E9;
  border-radius: 0 !important;
  &:hover {
    background-color: #CCC6C6;
  }
  &:focus {
    background-color: #CCC6C6;
  }
}

.revision-url {
  color: #000;
  text-decoration: none !important;
  &:hover {
    color: darkgray !important;
    font-weight: bold;
  }
  &:focus {
    color: darkgray !important;
    font-weight: bold;
  }
  &:active {
    color: darkgray !important;
    font-weight: bold;
  }
}

.btnLittle {
  width: 15em;
  height: 12em;
}

.btnBig {
  width: 33em;
  height: 12em;
}

.damageItem {
  height: 3em;
  padding: 1em;
  text-align: right;
  border-bottom: solid 1px #585858;
}

#canvas {
  height: 20em;
  width: 20em;
}

.canvasContainer {
  padding-left: 4em !important;
  padding-right: 4em !important;
}

.imgLittle {
  height: 70%;
  width: auto;
}

.imgBig {
  height: auto;
  width: 25em;
}

.damageName {
  text-align: left;
  text-transform: capitalize;
}
