<div>
  <app-nav></app-nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Información de la Revisión</h3>
      </div>
      <div class="col-sm-6 button-revision-container">
        <app-report></app-report>
      </div>
    </div>
    <div class="row revision-container strict-text space-between">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-7 ">
            <label class="control-label">Usuario:</label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="revision.user && revision.user !==''">{{revision.user}}</span>
            <span *ngIf="!revision.user || revision.user === ''">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 ">
            <label class="control-label">Naviera:</label>
          </div>
          <div class="col-sm-5 ">
            <span *ngIf="revision.shipperName && revision.shipperName !== ''">{{revision.shipperName}}</span>
            <span *ngIf="!revision.shipperName || revision.shipperName === ''">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 ">
            <label class="control-label">Número de Contenedor:</label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="revision.containerCode && revision.containerCode !== ''">{{revision.containerCode}}</span>
            <span *ngIf="!revision.containerCode || revision.containerCode === ''">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <label class="control-label">Prefijo:</label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="revision.prefix && revision.prefix !== ''">{{revision.prefix}}</span>
            <span *ngIf="!revision.prefix || revision.prefix === ''">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <label class="control-label">Gen Set </label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="revision.genSet" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="!revision.genSet" class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
        <div *ngFor="let detail of revision.chassisDetail" class="row">
          <div class="col-sm-7">
            <label class="control-label" *ngIf="detail.name && detail.name !== ''">{{detail.name}}</label>
            <label class="control-label" *ngIf="!detail.name || detail.name === ''">{{detail.name}}</label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="detail" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="!detail" class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 ">
            <label class="control-label">Estado Llantas: </label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="revision.tiresCondition && revision.tiresCondition !== ''">{{revision.tiresCondition}}</span>
            <span *ngIf="!revision.tiresCondition || revision.tiresCondition ==='' "> N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <label class="control-label">Observaciones:</label>
          </div>
          <div class="col-sm-5">
            <span *ngIf="revision.observations && revision.observations !== ''">{{revision.observations}}</span>
            <span *ngIf="!revision.observations || revision.observations === ''"> N/A</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Fecha:</label>
          </div>
          <div class="col-sm-7">
            <span>{{revision.createdAt | date:'d/M/y'}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Hora:</label>
          </div>
          <div class="col-sm-7">
            <span>{{revision.createdAt | date:'h:mm:ss a'}}</span>
          </div>
        </div>
        <div *ngIf="revision.shipper != 'Evergreen'" class="row">
          <div class="col-sm-5">
            <label class="control-label">Número de Guía:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.guideNumber && revision.guideNumber !== ''">{{revision.guideNumber}}</span>
            <span *ngIf="revision.guideNumber === '' || !revision.guideNumber">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Transportista:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.driver && revision.driver !== ''">{{revision.driver}}</span>
            <span *ngIf="revision.driver === '' || !revision.driver">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Origen:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.origin && revision.origin !== ''">{{revision.origin}}</span>
            <span *ngIf="revision.origin === '' || !revision.origin">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Destino:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.destiny && revision.destiny !== ''">{{revision.destiny}}</span>
            <span *ngIf="revision.destiny === '' || !revision.destiny">N/A</span>
          </div>
        </div>
        <div *ngIf="revision.shipper === 'NYK'" class="row">
          <div class="col-sm-5">
            <label class="control-label">Tamaño del contenedor:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.measure && revision.measure !== '' ">{{revision.measure}}</span>
            <span *ngIf="!revision.measure || revision.measure === ''">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Número de Chasis:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.chassis && revision.chassis !== ''">{{revision.chassis}}</span>
            <span *ngIf="!revision.chassis || revision.chassis === ''">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Número de Cabezal:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.truck && revision.truck !== ''">{{revision.truck}}</span>
            <span *ngIf="!revision.truck || revision.truck === ''">N/A</span>
          </div>
        </div>
        <div *ngIf="revision.shipper !='Evergreen'" class="row">
          <div class="col-sm-5">
            <label class="control-label">Estado:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.shippingDetail && revision.shippingDetail !== ''">{{revision.shippingDetail}}</span>
            <span *ngIf="!revision.shippingDetail || this.shippingDetail === ''">N/A</span>
          </div>
        </div>
        <div *ngIf="revision.shipper != 'Evergreen'" class="row">
          <div class="col-sm-5">
            <label class="control-label">Razón del Traslado:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.shipping && revision.shipping !== ''">{{revision.shipping}}</span>
            <span *ngIf="!revision.shipping || revision.shipping === ''">N/A</span>
          </div>
        </div>
        <div *ngIf="revision.shipper === 'Evergreen'" class="row">
          <div class="col-sm-5">
            <label class="control-label">Nombre del barco:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.boatName && revision.boatName !== ''">{{revision.boatName}}</span>
            <span *ngIf="!revision.boatName || revision.boatName === ''">N/A</span>
          </div>
        </div>
        <div *ngIf="revision.shipper === 'Evergreen'" class="row">
          <div class="col-sm-5">
            <label class="control-label">Número de viaje:</label>
          </div>
          <div class="col-sm-7">
            <span *ngIf="revision.travelNumber && revision.travelNumber !== ''">{{revision.travelNumber}}</span>
            <span *ngIf="!revision.travelNumber || revision.travelNumber === ''">N/A</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="marks-label">
        <label class="inner-mark-label">Marchamo Llantas: </label>
      </div>
      <table class="table">
        <thead class="bold-table-title">
          <td class="marks-padding" *ngFor="let tire of revision.tires; let i=index">Marchamo {{i+1}}</td>
        </thead>
        <tbody class="table-tbody">
          <td class="marks-padding" *ngFor="let tire of revision.tires">
            <span *ngIf="tire !== '' && tire">{{tire}}</span>
            <span *ngIf="tire === '' || !tire ">N/A</span></td>
        </tbody>
      </table>
    </div>
    <div>
      <div class="marks-label">
        <label class="inner-mark-label">Marchamo: </label>
      </div>
      <table class="table">
        <thead class="bold-table-title">
          <td class="marks-padding" *ngFor="let mark of revision.marks; let i=index">Marchamo {{i+1}}</td>
        </thead>
        <tbody class="table-tbody">
          <td class="marks-padding" *ngFor="let mark of revision.marks">
            <span *ngIf="mark !== '' && mark">{{mark}}</span>
            <span *ngIf="mark === '' || !mark">N/A</span></td>
        </tbody>
      </table>
    </div>
    <div *ngIf="revision.shipperName === 'Gash'" class="table-container">
      <table mat-table [dataSource]="dataSource" class="table table-striped table-hover parts-table">
        <ng-container matColumnDef="parte">
          <th mat-header-cell *matHeaderCellDef class="parts-table t-head"> Parte </th>
          <td mat-cell *matCellDef="let part" class="parts-table"> {{part.name}} </td>
        </ng-container>
        <ng-container matColumnDef="entrada">
          <th mat-header-cell *matHeaderCellDef class="parts-table t-head"> Entrada </th>
          <td mat-cell *matCellDef="let part" class="parts-table">
            <span *ngIf="part.in" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="!part.in" class="glyphicon glyphicon-remove"></span>
          </td>
        </ng-container>
        <ng-container matColumnDef="salida">
          <th mat-header-cell *matHeaderCellDef class="parts-table t-head"> Salida </th>
          <td mat-cell *matCellDef="let part" class="parts-table">
            <span *ngIf="part.out" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="!part.out" class="glyphicon glyphicon-remove"></span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6 button-revision-container">
        <button class="btn btn-danger" (click)="viewDamages()">Ver daños</button>
      </div>
    </div>
  </div>
</div>