@li-background: #D8D8D8;
@table-title-background: #C1C1C1;
@revision-container-background: #F4F4F4;
@common-background: #B7B7B7;
@thead-background: #D4D4D4;

.button-revision-container {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0 !important;
  text-align: right;
}

.revision-container {
  height: 22%;
  background: @revision-container-background !important;
  padding: 10px;
}

.label-revision-show {
  text-align: center;

  .inner-label {
    margin-left: 13px; 
  }
}

.tire-seal-container {
  border: none !important;
  text-align: center;
  padding: 10px;
}

.bold-table-title {
  font-weight: bold;
  font-size: medium;
  background-color: @table-title-background;
}

.marks-container {
  margin-top: 0.5em;
  padding: 10px;
}

.marks-label {
  padding: 25px 0px 10px 0px;

  .inner-mark-label {
    font-size: 18px;
  }
}

.table-tbody {
  font-size: 15px;
}

.parts-table {
  border: 0.5px solid black;
}

.marks-padding {
  padding-left: 10px; 
}

.t-head {
  background: @thead-background; 
}