.headContainer {
  margin-top: 1em;
  margin-bottom: 1em;
  float: right !important;
  width: 35em !important;
  padding: 0 !important;
}

.searchBarContainer {
  width: 20em !important;
  float: right !important;
  padding: 0 !important;
  input {
    border-radius: 2em;
  }
}

.buttonContainer {
  margin-left: 3em;
}

.btn-addUser {
  background: #E31417;
  color: white !important;
  width: 9em;
  border-radius: 2em !important;
  text-align: center;
  &:hover {
    color:white;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    margin-bottom: 2em !important;
    margin-right: 2em !important;
    float: right;
  }
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon {
  input  {
    padding-left: 30px;
  }
}

.table {
  border: 0.5px solid #000000;
  thead {
    background: #CCCCCC;
  }
  th {
    width: 33%;
  }
}

.table-striped td, .table-striped th{
  border-left: 0.5px solid #000000;
  border-right: 0.5px solid #000000;
  text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background: #D8D8D8;
}

.sort-order:after {
  content: '\25b2';
}

.sort-order.reverse:after {
  content: '\25bc';
}

.progress-bar {
  background-color: #454442 !important;
}
