<div class="container">
  <div class="row" ng-if="vm.loading">
    <h5>Cargando Lista de Usuarios...</h5>
    <div class="progress progress-striped active page-progress-bar">
      <div class="progress-bar" style="width: 100%;"></div>
    </div>
  </div>
  <div class="row" ng-if="!vm.loading">
    <div class="padding-bottom headContainer" ng-if="!vm.loading && vm.users.length">
      <div class="col-xs-12 col-sm-2 buttonContainer">
        <button type="button" class="btn btn-addUser" ng-click="vm.goToCreateUser()">Crear Usuario</button>
      </div>
      <div class="col-xs-12 col-sm-2 inner-addon left-addon searchBarContainer">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" placeholder="Buscar" ng-model="vm.searchText">
      </div>
    </div>
    <table class="table table-striped table-hover strict-text" ng-if="!vm.loading && vm.users.length">
      <thead>
        <tr>
          <th ng-click="vm.sortBy('username')">Usuario
            <span class="sort-order" ng-if="vm.sort.property === 'username'" ng-class="{reverse: vm.sort.reverse}"></span>
          </th>
          <th ng-click="vm.sortBy('name')">Nombre
            <span class="sort-order" ng-if="vm.sort.property === 'name'" ng-class="{reverse: vm.sort.reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="user in vm.users | orderBy:vm.sort.property:vm.sort.reverse | filter:vm.searchText | itemsPerPage: 10" ng-click="vm.showUser(user)">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls
      max-size="5"
      template-url="app/components/layout/pagination/pagination.tpl.html"
      class="text-center"
      direction-links="true"
      boundary-links="true" >
    </dir-pagination-controls>
    <div class="text-center" ng-if="!vm.loading && !vm.users.length">
      <h3>No hay usuarios registrados</h3>
    </div>
  </div>
</div>
