.search-bar-container {
  height: 2.5em;
  width: 20em !important;
  float: right;
  padding-left: 10px;
  margin: 10px;

  input {
    border-radius: 2em;
    padding-bottom: 5px;
  }
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px 14px;
  pointer-events: none;
}

.form-control {
  padding: 7px 33px;
}