@thead-background: #D4D4D4;
@li-background: #D8D8D8;

.table-container {
  margin: 20px;
  border: black;
}
  
.table {
  border: 0.5px solid black;
  padding-top: 30px;
}

.t-head {
  border-bottom: 0.5px solid black;
  background: @thead-background; 
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background: @li-background;
}