.revisionContainer {
  width: 100%;
  height: 35em;
  margin-top: 5.5em;
  margin-bottom: 5.5em;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    width: 95%;
    margin-top: 2em;
  }
}

.strict-text {
  word-break: break-all;
}

.gash-container {
  height: 22%;
  padding-top: 1em;
  background: #F4F4F4 !important;
}

.bold-table-title {
  font-weight: bold;
}

#evergreen-padding-left {
  padding-left: 1em;
}

#button-revision-nyk {
  margin-bottom: 2em;
  padding: 0 !important;
  text-align: right;
}

.btn-report {
  width: 10em;
  border-radius: 0 !important;
  background: #444444;
  color: white;
  &:hover {
    color:white !important;
    font-weight: bolder;
  }
}

.space-between {
  margin-bottom: 3em;
}

.leftContainer {
  height: 35em;
}

.rightContainer {
  padding: 1.5em;
  height: 35em;
  background: #C1C1C1 !important;
  overflow-y: auto;
}

#nyk-right-container{
  padding: 1.5em;
  height: 49.7em;
  background: #C1C1C1 !important;
  overflow-y: auto;
}

.buttonRevisionContainer {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0 !important;
  text-align: right;
}

.leftUp {
  height: 22%;
  padding-top: 1em;
  background: #F4F4F4 !important;
}

.leftDown {
  height: 42%;
  padding-top: 1em;
  background: #FFFFFF !important;
}

.leftDownTable {
  height: 36%;
  background: #FFFFFF !important;
  padding: 0 !important;
}

.btn-see-damage {
  width: 10em;
  background: #A72224;
  border-radius: 0 !important;
  color: white;
  &:hover {
    color: white !important;
    font-weight: bolder;
  }
}

.spanRevisionShow {
  text-align: left;
}

.labelRevisionShow {
  text-align: right;
}

.spanRevisionShowRemark {
  text-align: center;
  padding: 0 !important;
  word-wrap:break-word;
}

.partsContainer {
  padding: 0 !important;
}

.tireSealContainer {
  border: none !important;
  text-align: center;
}
